services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: signs
      POSTGRES_USER: signs
      POSTGRES_PASSWORD: signs
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
